<!-- <section>
	<div class="container-fluid">
		<div class="row">

			<div class="col-sx-12">
				<table class="califBar table table-bordered">
					<tr bgcolor="#648A60">
						<td align="center" border="none">{$cve_clavadista}</td>
							<td align="center">{$cve_nacionalidad}</td>
							<td align="center">
								<img src="../images/flags-normal/{$bandera}" alt=":(" width="50">
							</td>
							<td align="center" colspan="6">{$nombre_completo}</td>
					</tr>
					<tr bgcolor="#00B04F">
						<td align="center">C1</td>
						<td align="center">C2</td>
						<td align="center">C3</td>
						<td align="center">C4</td>
						<td align="center">C5</td>
						<td align="center">C6</td>
						<td align="center">C7</td>
						<td align="center">{$dificultad}</td>
					</tr>
					<tr>
						<td align="center" bgcolor="#BF000" colspan="3">Total:</td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center"></td>
						<td align="center" bgcolor="425c3f" colspan="3">TTT</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
</section>
</body>
</html> -->
<section>
	<div id="conversation" class="container-fluid">

	</div>
</section>
</body>
</html>
