{include file="header.html"}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {$msg}
      <a href="clavadistas.php?action=form_insert" class="btn btn-info"> Nuevo <span class="glyphicon glyphicon-plus"></span></a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Lista de Clavadistas</h3>
        </div>

        <div class="panel-body">
          <table class="table table-condensed table-hover table-responsive">

            <thead class="thead-inverse">
              <tr>
                {foreach $columns as $column}
                  <th>{$column}</th>
                {/foreach}
                <th>Modificaciones</th>
              </tr>
            </thead>

            <tbody>
              {foreach $rows as $row}
                <tr>
                  <td>{$row.Clave}</td>
                  <td>{$row.Nombre}</td>
                  <td>{$row.Genero}</td>
                  <td>{$row.Nacionalidad}</td>
                  <td>{$row.Bandera}</td>
                  <td>
                    <a href="clavadistas.php?action=form_update&cve_clavadista={$row.Clave}" class="btn btn-success"> <span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="clavadistas.php?action=delete&cve_clavadista={$row.Clave}" class="btn btn-danger"> <span class="glyphicon glyphicon-minus"></span></a>
                    <a href="clavadistas.php?action=orden&cve_clavadista={$row.Clave}" class="btn btn-primary"> Rondas </span></a>
                  </td>
                </tr>
              {/foreach}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{include file="footer.html"}
