{include file="header.html"}
<div class="container-fluid">
    <div class="main row">
        <nav class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-3">
            {if isset({$msg})}
                <div class="form-group"> {$msg} </div>
            {/if}
            {if isset($clavado)} 
                <form action="clavados.php?action=update" method="post">
            {else} 
                <form action="clavados.php?action=insert" method="post">
            {/if}  
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {if isset($clavado)} Actualizar Clavado
                            {else} Nuevo Clavado {/if}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label> Clave </label>
                            <input class="form-control" name="cve_clavado" placeholder="Clave del Clavado" maxlength="7" required
                            {if isset($clavado)} value="{$clavado.cve_clavado}" {/if}>
                        </div>
                        <div class="form-group">
                            <label> Clavado </label>
                            <input class="form-control" name="clavado" placeholder="Nombre del Clavado" maxlength="40" required
                            {if isset($clavado)} value="{$clavado.clavado}" {/if}>
                        </div>
                        <div class="form-group">
                            <label> Dificultad </label>
                            <input class="form-control" name="dificultad" type="number" min="1" max="5" step="0.1" placeholder="Grado de Dificultad" required
                            {if isset($clavado)} value="{$clavado.dificultad}" {/if}>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    {if isset($clavado)} Actualizar 
                    {else} Guardar {/if}
                </button>
            </form>
        </nav>
    </div>
</div>
{include file="footer.html"}
