{include file="header.html"}
<div class="container">
  <aside>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
          <h3> <small>Administrador</small> {$nombre_usuario}</h3>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          <a class="btn btn-link" href="../login.php?action=logout">(Logout)</a>
        </div>

    </div>

    <div class="row">
      <nav align="center">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <form class="form-inline" action='index.php' method='post'>
            <div class="form-group">
              <label >Grado de dificultad</label>
              <input class="form-control" placeholder="Dificultad" name="dificultad">
            </div>
            <input class="btn btn-default" type="submit" value="Enviar">
          </form>
        </div>
      </nav>
    </div>
  </div>

</aside>
{include file="footer.html"}
