{include file="header.html"}
<div class="container-fluid">
    <div class="main row">
        <nav class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-3">
            {if isset({$msg})}
            <div class="form-group"> {$msg} </div>
            {/if}
            <form id="formChat" action="index.php" method="post">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Datos </h3>
                    </div>
                    <div class="panel-body">
                      <div class="form-group">
                          <label> Clavadista </label>
                          {$cmb_clavadista}
                      </div>
                        <div class="form-group">
                            <label> Clave Clavado </label>
                            <input class="form-control" name="cve_clavado" placeholder="Clave Clavado" maxlength="7" required>
                        </div>
                        <div class="form-group">
                            <label> Dificultad </label>
                            <input class="form-control" name="dificultad" type="number" min="1" max="5" step="0.1" placeholder="Grado Dificultad" required>
                        </div>
                    </div>
                </div>
                <button id="send" type="submit" class="btn btn-primary"> Enviar </button>
                <button type="submit" class="btn btn-success" name="nueva_ronda" > Nueva Ronda </button>
            </form>
        </nav>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>

			$(document).on("ready", function(){
				registerMessages();
				// setInterval("loadOldMessages()", 500)
			});

			var registerMessages = function() {
				$("#send").on("click", function(e) {
					e.preventDefault();
					var frm = $("#formChat").serialize();
					$.ajax({
						type: "POST",
						url: "register.php",
						data: frm
					}).done(function (info) {
						$("#message").val("");
						// var altura = $("#conversation").prop("scrollHeight");
						// $("#conversation").scrollTop(altura);
						console.log(info);
					});
				});
			}
		</script>
{include file="footer.html"}
