{include file="header.html"}
<br/>
<center>
  <div style="margin-left:-1000px">
    <p><h4><a href="../index.php">Regresar</a></h4></p>
  </div>
  <form class="form-inline" action='index.php' method='post' enctype='multipart/form-data' accept-charset='utf-8'>
  <div class="form-group">
    <label >Grado de dificultad</label>
    <input type="txt" class="form-control" id="exampleInputEmail3" placeholder="Dificultad" name="datos[dificultad]" id="producto">
    <br/>	<br/> <br/>
    <button type="submit" class="btn btn-default">Enviar</button>
  </div>
  </center>
{include file="footer.html"}
