<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<body >
		<title>Vista publico</title>
		<div style="position:absolute; left:0px; top:0px; width:1365px; height:100px; background:#d2ded1;">


					<img src="china.jpg" alt="china" width="80" height="90">

		</div>
		<div style="position:absolute; left:600px; top:0px;">
			<p style="font-size:40px;"><strong>CAO Yuan</strong></p>
		</div>
		<div style="position:absolute; left:0px; top:100px; width:1365px; height:450px; background:#404040;">

			<p style="color:#00ff00; font-size:200px; text-align:center; font-family:magneto;">89</p>

		</div>
		<div style="position:absolute; left:600px; top:550px;">
			<p style="font-size:30px;"><strong>Dificultad: 3.7</strong></p>
		</div>
		<div style="position:absolute; left:1200px; top:560px;">
			<img src="rio.png" alt="china" width="80" height="90">
		</div>

	</body>
</head>
<html>
