<section>
  <div class="container"> <!-- container para centrar las cosas -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-1">
          <div id="left-image" align="center">
            <img src="{$route1}" alt="No encontrado">
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-10">
          <div id="logo-header">
            <span class="site-name">{$headerTitle3}</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-1">
          <div id="right-image" align="center">
            <img src="{$route2}" alt="No encontrado">
          </div>
        </div>
      </div>
  </div>

</section>
</div> <!-- FIN CONVERSATION DIV -->
<script>
			$(document).on("ready", function(){
				setInterval("loadOldMessages()", 500)
			});

      var loadOldMessages = function() {
      	$.ajax({
      		type: "POST",
      		url: "conversation.php"
      	}).done(function(info) {
      		$("#conversation").html(info);
      	});
      }
</script>
</body>
</html>
