<footer>
  <div class="padre">
    <div class="image">
      <img src="images/logo_footer.png" width="100" alt="">
    </div>
    <div class="text">
      <p>
        Copyright ©2016 por Consorcio de Fomento Deportivo A. C. Todos los derechos reservados. Consorcio de Fomento <br>
        Deportivo A. C. manifiesta que la información personal que pudiera llegar a recabar, será con la única finalidad de realizar la <br>
        evaluación de la competencia deportiva al que está dirigido este software, respetando en todo momento lo dispuesto por la <br>
        ley federal de protección de datos personales en posesión de los particulares. Para cualquier duda o aclaración respecto a <br>
        sus datos personales, dirigirse al correo electrónico contacto@cfdac.com.mx
      </p>
    </div>
  </div>
</footer>
</body>
</html>
