<!DOCTYPE html>
<html lang="en">
<head>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
  <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>{$title}</title>
</head>
<body id="contenedor">
	<header>
    <div class="container"> <!-- container para centrar las cosas -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-1">
            <div id="left-image" align="center">
              <img src="{$route1}" alt="No encontrado">
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-10">
            <div id="logo-header">
        			<span class="site-name">{$headerTitle1}</span>
        			<span class="site-desc">{$headerTitle2}</span>
        		</div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-1">
            <div id="right-image" align="center">
              <img src="{$route2}" alt="No encontrado">
            </div>
          </div>
        </div>
      </div>
	</header><!-- / #main-header -->
