{include file='header.html'}
    <center>
        <table id="interTable" border="2px"> <!-- Lo cambiaremos por CSS -->
           <tr>
              <td bgcolor="grey">CLASIFICACIÓN</td>
              <td bgcolor="grey">ORDEN </td>
              <td bgcolor="grey">ATLETA</td><!--BANDERA-->
              <td bgcolor="grey">PAIS</td><!--PAIS-->
              <td bgcolor="grey">NOMBRE</td><!--NOMBRE-->
              <td bgcolor="grey">1</td>
              <td bgcolor="grey">2</td>
              <td bgcolor="grey">3</td>
              <td bgcolor="grey">4</td>
              <td bgcolor="grey">5</td>
              <td bgcolor="grey">6</td>
              <td bgcolor="grey">-</td><!---->
              <td bgcolor="grey"7>+</td><!--"+"-->
          </tr>
          <tr>
              <td bgcolor="">1</td>
              <td></td>
              <td><img src=""></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td><!---->
              <td></td><!--"+"-->
          </tr>
          <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td><!---->
              <td></td><!--"+"-->
          </tr>
          <tr>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td><!---->
              <td></td><!--"+"-->
          </tr>
          <tr>
              <td>4</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             <td></td><!---->
              <td></td><!--"+"-->
          <tr>
              <td>5</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td><!---->
              <td></td><!--"+"-->
          <tr>
              <td>6</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td><!---->
              <td></td><!--"+"-->
        </table>
        </center>
{include file='footer.html'}
