{include file='header.html'}
<div class="container-fluid">
  <div class="row">

    <article class="col-xs-12">
      <center>
        <div class="table-responsive">
          <div id="conversationA">
        </div>
        </center>
    </article>
  </div>

  </div>
</div>
<script>
			$(document).on("ready", function(){
				setInterval("loadOldMessages()", 500)
			});

      var loadOldMessages = function() {
      	$.ajax({
      		type: "POST",
      		url: "conversationA.php"
      	}).done(function(info) {
      		$("#conversationA").html(info);
      	});
      }
</script>
{include file='footer.html'}
