{include file='header.html'}
<div class="container-fluid">
  <div class="row">

    <article class="col-xs-12">
      <center>
        <div class="table-responsive">
          <table id="interTable" class="table table-hover"> <!-- Lo cambiaremos por CSS -->
             <tr class="success">
                <td bgcolor="grey">CLASIFICACIÓN</td>
                <td bgcolor="grey">ORDEN </td>
                <td bgcolor="grey">ATLETA</td><!--BANDERA-->
                <td bgcolor="grey">PAIS</td><!--PAIS-->
                <td bgcolor="grey">NOMBRE</td><!--NOMBRE-->
                <td bgcolor="grey">1</td>
                <td bgcolor="grey">2</td>
                <td bgcolor="grey">3</td>
                <td bgcolor="grey">4</td>
                <td bgcolor="grey">5</td>
                <td bgcolor="grey">6</td>
                <td bgcolor="grey">-</td><!---->
                <td bgcolor="grey"7>+</td><!--"+"-->
            </tr>
            <tr>
                <td bgcolor="">1</td>
                <td></td>
                <td><img src=""></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td><!---->
                <td></td><!--"+"-->
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td><!---->
                <td></td><!--"+"-->
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td><!---->
                <td></td><!--"+"-->
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
               <td></td><!---->
                <td></td><!--"+"-->
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td><!---->
                <td></td><!--"+"-->
            <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td><!---->
                <td></td><!--"+"-->
          </table>
        </div>
        </center>
    </article>

  </div>
</div>
{include file='footer.html'}
