{include file='header.html'}
  <div class="container-fluid">
    <div class="main row">

      <aside class="col-xs-12">
        <form action="">
          <div class="form-group">
            <label id="lab-user" >Nombre de Usuario</label>
            <input class="form-control" type="text" name="nomUser">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="text" name="pwd">
          </div>
          <div class="form-group">
            <label>Verificar password</label>
            <input class="form-control" type="text" name="Vpwd">
          </div>
          <div class="form-group">
            <label>Nombre Real</label>
            <input class="form-control" type="text" name="name_us">
          </div>
          <button class="btn btn-primary">Registrar</button>
        </form>
      </aside>

    </div>
  </div>
{include file='footer.html'}
